# Environments & cache
.venv/
.vscode/
__pycache__/
*.egg-info/
.pytest_cache/
.benchmarks/

# Build dir
/build/
/ormi-core/build/
/ormi/build/
_skbuild/
.skbuild-info.json

# CMake build
CMakeCache.txt
CMakeInit.txt
CMakeFiles/
cmake_install.cmake
*.dir/
x64/
.vs/
.cmake/

# Visual studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Compiled binaries
*.pyd
*.so
*.dylib
*.dll
*.lib
*.exp
*.pdb
*.obj